version: "2.3"

networks:
  default:
    external:
      name: robot-ops_default
                
volumes:
  workspace:

services:

  workspace:
    build: ./workspace
    image: wn1980/darknet-ros${TAG}
    container_name: ros_darknet
    init: true
    restart: unless-stopped
    privileged: true
    environment:
      - DISPLAY=:1
      - ROS_MASTER_URI=http://master:11311
      #- QT_X11_NO_MITSHM=1
      #- TURTLEBOT_3D_SENSOR=asus_xtion_pro
    devices:
      - "/dev:/dev"
    volumes:
      - "/dev:/dev"
      - "/run/systemd:/run/systemd"
      - "/etc/localtime:/etc/localtime:ro"
      - "workspace:/workspace"
    healthcheck:
      test: ["CMD-SHELL", "test -e /tmp/.X11-unix/X1"]
      interval: "1m"
      retries: 20
    ports:
      #- "11311:11311"
      - "8009:8008"
      - "9909:9901"
    runtime: "nvidia"


